@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    border: 0cm;
}

@media only screen and (max-width: 1920px) {


    :root {
        --theme-color: #28BCB2;
        --minion-yellow: #fcc100;
        --pirate-yellow: #283618;
    }



    .mid-logo {
        padding-right: 3rem;
    }

    .thghtext-2 {
        color: #28BCB2;
    }

    .thghttext {
        padding-top: 8rem;
        font-size: 1rem;
        color: #333c66;
        line-height: auto;
        font-weight: 800;
        letter-spacing: -.02em;
        max-width: 18em
    }







    .resumetext {
        padding-top: 3rem;
        padding-bottom: 2rem;
        font-size: 1.5em;
        max-width: 35em;
        margin-left: auto;
        margin-right: auto;
        max-width: 1000px;
    }

    .container {
        position: relative;
        z-index: 5;
        width: 100%;
        max-width: 1170px;
        margin-right: auto;
        margin-left: auto;
        top: 125px;
        
        
    }

    .nav-container {
        height: 5rem;
        margin: 0 auto;
        max-width: 1200px;
        padding: 0 1.5rem;

    }




    body {
        animation: fadeInAnimation ease 3s;
        color: #333;
        margin: 0;
        width: 100%;
        min-width: 320px;
        background-color: #fff;
        font-family: Karla, sans-serif;
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        -webkit-font-smoothing: antialiased
    }

    @keyframes fadeInAnimation {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .header {
        padding-top: 1.5rem;
    }

    .navbar {
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #fff
    }

    .first_name {
        fill: var(--theme-color)
    }

    .last_name {
        fill: var(--theme-color)
    }

    a {

        color: #28BCB2;
        text-decoration: none;
    }

    .navbar__links {
        font-weight: 500;
        text-decoration: none;
        list-style: none;
        display: flex;
font-size: 16px;
    }

    .navbar__links-item {
        text-decoration: none;
    }

    .navbar__links-item:not(:last-child) {
        padding-right: 2rem
    }

    .navbar-links-atag {

        color: #28BCB2;
        text-decoration: none;
    }

    a {
        text-decoration: none;
    }

    .navbar-links-atag:hover {

        padding: .45em .6em;
        border-radius: .25rem;
        background-color: rgba(40, 188, 178);
        font-weight: 600;
        font-size: 18px;
        color: rgba(255, 255, 255);
        transition: ease-out .2s;
    }


    .navbar-links-atag:active {
        margin-left: .5rem;
        display: inline-block;
        padding: .35em .6em;
        border-radius: .25rem;
        background-color: rgba(51, 61, 102, .07);
        line-height: 1;
        white-space: nowrap;
        font-weight: 600;
        font-size: .975rem;
        color: rgba(51, 61, 102, .8);


    }









    .section {
        position: relative;
        padding-top: 4rem;


    }

    .section__container {
        position: relative;
        z-index: 2;
    }



    .middle-content {
        display: flex;
        justify-content: center
    }

    .middle-text {


        display: block;

    }

    .short_intro {
        color: #5b5b5b;
        display: block;
        font-size: 16px;
    }

    .social-navigation {
        text-align: right;
        margin-top: 9rem;
        margin-left: auto;

    }

    .hero_label {

        display: block;
        font-size: 15pt;
        letter-spacing: .03em;
        font-weight: 600;
        text-transform: uppercase;
        color: #8895bf
    }

    .profile-photo {
        display: block;
    }

    .centered-block {
        margin-top: 10rem;
        align-items: center;
    }

    .hero__title {
        font-family: Poppins;
        margin-top: 0;
        font-size: 3rem;
        color: #333c66;
        line-height: 45pt;
        font-weight: 800;
        letter-spacing: -.02em;
        max-width: 12em
    }

    .blog__title {
        margin-top: 0;
        font-size: 3rem;
        color: #333c66;
        line-height: 45pt;
        font-weight: 800;
        letter-spacing: -.02em;
        max-width: 15em
    }

    .hero__title-intro {

        margin-bottom: 3rem;
        color: var(--theme-color);
        font-weight: 600;
        letter-spacing: -.02em;
        max-width: 11em
    }

    .social-link {
        display: inline-block;
        margin-right: 7px;
        margin-left: 7px;
        padding: 30px;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        transition: all 200ms ease;
    }

    .social-icon {
        width: 35px;
        height: 35px;

    }




    .abouttext {
        color: #535353;
        font-size: 18px;
        max-width: 35em;

        max-width: 1000px;

        padding-bottom: 2rem;

    }

    .abouttext2 {
        font-size: 16px;
        text-justify: auto;
        margin-left: auto;
        margin-right: auto;
        max-width: 435px;
        padding-bottom: 3rem;
        color: #5b5b5b;
        text-align: center;
    }

    .h3-title {
        text-align: center;
        color: #b2c2c5;
        padding-top: 100px;
        font-weight: 700;
        font-size: 16px;
        letter-spacing: 2px;
        text-transform: uppercase;
        margin-bottom: 30px;
    }

    .h2-ts {
        margin-top: 0;
        margin-bottom: 0;
        font-family: 'Poppins';
        font-weight: 500;

        letter-spacing: -0.05em;

    }

    h2 {
        text-align: center;
        height: 5rem;

        padding: 0rem 1rem 0rem 1rem;
        font-size: 64px;
        font-weight: 600;
        color: #28BCB2;

    }

    .technicalskillbg {
        padding: 20px auto;
        background-color: #ffffff;
    }

    .wrapper {

        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 1200px;
        margin: auto;
        padding-bottom: 50px;
    }

    .blog-wrapper {
        padding: 0 120px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .no-bullets {

        list-style: none;
        display: flex;


    }

    .no-bullets-small {
        padding-left: 0;
        list-style: none;
        display: flex;


    }

    .nodejs-small-list:hover {
        background-color: rgba(219, 223, 233, 0.41);
        transform: translate(0px, -4px);
        color: #1b7dd2;
    }

    .nodejs-small-list {
        margin-bottom: 0%;
        margin-left: .5rem;
        display: inline-block;
        padding: .35em .6em;
        border-radius: .25rem;
        background-color: rgba(202, 208, 223, 0.41);
        line-height: 1;
        white-space: nowrap;
        font-weight: 400;
        font-size: .875rem;
        color: rgba(78, 105, 105, 0.6);
        transition: all 200ms ease
    }

    .skills_background {
        padding: 35px;
        border-radius: 16px;
        background-color: rgb(255, 255, 255);
        -webkit-transition: all 400ms ease;
        transition: all 500ms ease;

    }

    .skills_background:hover {
        transform: translate(0px, -5px);
        box-shadow: 11px 11px 130px 70px rgba(206, 212, 224, 0.18);
    }

    h3 {
        font-size: 2.1rem;
        color: var(--theme-color);
        margin: 0;
    }

    .img-blog {
        max-width: 650px;
        height: auto;
        max-height: 350px;
        align-self: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 1rem;
    }

    .blog-title {
        line-height: 70px;
        font-size: 4rem;
        color: #333c66;

    }

    .blog-middle-content {
        padding-top: 8rem;
        display: flex;
        justify-content: center
    }

    .blog-small-list {
        margin-bottom: 2rem;
        display: inline-block;
        padding: .55em .55em;
        border-radius: .25rem;
        background-color: rgba(51, 61, 102, .07);
        line-height: 1;
        white-space: nowrap;
        font-weight: 400;
        font-size: 1rem;
        color: rgba(51, 61, 102, .8);
    }

    .skills-desc {
        font-size: 18px;
        margin-bottom: 1.5rem;
        color: #5b5b5b;
        line-height: 1.5;
        font-weight: 400;
    }


    h1 {
        margin-top: 0px;
        margin-bottom: 20px;
        font-family: Poppins;
        color: #233C6C;
        font-size: 64px;
        line-height: 1;
        font-weight: 700;
        letter-spacing: -0.04em;
    }

    .h1-title {
        margin-top: 0;
        margin-bottom: 3rem;
        font-family: 'Poppins';
        font-weight: 500;
        letter-spacing: -0.05em;
    }

    .heading-width {
        max-width: 850px;
    }

    .title {
        margin-bottom: 20px;
        color: #b4b2c5;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    .bg-block-blue {
        position: absolute;
left: 0%;

right: auto;
bottom: auto;
z-index: -11;
width: 62.9%;
height: 100%;
max-height: 100%;
min-height: 500px;
min-width: 400px;
border-top-right-radius: 55px;
border-bottom-right-radius: 55px;
background-color: #e6f1fb66;

}

.about{
    margin-top: 65px;
    margin-bottom: 295px;
}
    }

    .social-media-color{
        color: #23c8bd;
        fill: #20e9db;
        

    }

    /* footer starts-------------------------------------------------------------------------- */




    .footer {
        margin: 0px;
        background-color: var(--theme-color);

    }

    .footer-container {
        margin: 0 auto;
        max-width: 1400px;
        padding: 0 1.5rem;
        display: flex;
        justify-content: space-between;
    }

    .footer__inner {
        margin: 0;
        padding: em;
        display: flex;
    }

    .footer__section {

        padding-top: 1em;
        margin-bottom: 1em;

        font-weight: 500;
        font-size: 1.5em;
        color: ivory;
        margin-bottom: 0px;
        display: block;

    }

    .footer__social-list {
        margin-top: 1.1em;
        padding-left: 0;
        list-style: none;
        display: inline-flex;
    }

    .footer__social-link {
        text-decoration: none;
        padding: 10px;

    }

    .footer__social-icon {
        height: 32px;
        color: white;
        fill: #fff;

    }

    .footer__social-icon:hover {
        fill: #333c66;
        color: #333c66
    }




    /* foooter ended------------------------------------------------------------------------------------------------------------ */



    /* hamburger menu  */
    .hamburger {
        display: none;
    }

    .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: #28BCB2;
    }

    /* hamburger menu */

    .small-profile-tab {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        margin-top: -15px;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center
    }

    .profile-picture {
        overflow: hidden;
        width: 65px;
        height: 65px;
        min-height: 65px;
        min-width: 65px;
        margin-right: 20px;
        /* border: 4px; */
        /* border-style: solid;      */
        border-radius: 100px;
        border-color: rgb(0, 0, 0);
        background-color: #cdcaff;
        box-shadow: 11px 33px 55px 0 rgba(85, 82, 124, 0.15);
    }

    .profile-name {
        margin-top: 0;
        margin-bottom: 4px;
        color: #130f49;
        font-size: 18px;
        line-height: 1.4;
        font-weight: 700;
        letter-spacing: -0.01em;
    }

    .detail {
        color: #b4b2c5;
        font-size: 15px;
        font-weight: 400;
    }

    .about-social-wrapper {


        margin-top: 100px;

    }

    .layout-grid {

        display: grid;
        grid-auto-columns: 1fr;

        grid-template-columns: 1fr 1fr 1fr 1fr;

        grid-template-rows: auto auto;
        row-gap: 24px;
        column-gap: 24px;
    }

    .abt-social-icon {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        min-height: 210px;
        margin-right: auto;
        margin-left: auto;
        padding: 22px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        border-style: solid;
        border-width: 2px;
        border-color: #fff;
        border-radius: 32px;
        background-color: #fff;
        box-shadow: 14px 14px 120px 0 rgba(139, 131, 131, 0.18);
        -webkit-transition: all 350ms ease;
        transition: all 350ms ease;
    }
    .abt-social-icon:hover {
    border: 2px solid #f8979b;
    transform: translate(0px,0px);
    
}
    .social-logo {
        width: 60px;
        margin-bottom: 32px;
    }


    element {}

    .social-name {

        color: #03232b;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: -0.03em;

    }

}























@media only screen and (max-width: 640px) {
    :root {

        overflow-x: hidden;
    }

    *,
    :after,
    :before {
        box-sizing: inherit;
    }

    /* header */
    .navbar__links {
        z-index: 2;

        position: relative;
        right: -125%;
        top: 18rem;
        flex-direction: column;
        background-color: #03232b;
        width: 148px;
        border-radius: 10px;
        text-align: left;
        transition: 0.3s;
        box-shadow:
            -35px 30px 100px rgba(1, 26, 26, 0.38);
    }

    .navbar__links-item {

        margin: 2.5rem 0;
    }

    .navbar__links.active {
        right: -20%;
    }

    .navbar__links-item:not(:last-child) {
        padding-right: 0rem;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }


    /* header over */

    .section {
        position: relative;
        padding-top: 0rem;
    }


    .middle-content {

        display: block;
        justify-content: center;
        padding-top: 2rem;
        padding-bottom: calc(10vw + 2.5rem);
        background-color: #d9faf765;
    }


    .profile-photo {
        display: none;
        height: auto;
    }

    .centered-block {
        margin: auto;
        align-items: center;
        padding-left: 1.5rem;
    }

    .hero:after {

        position: absolute;
        bottom: 124.1rem;
        left: 8px;
        width: 100%;
        height: 15vw;
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon fill='%23fff' points='0 100, 100 100, 100 0'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }


    .hero_label {
        display: block;
        font-size: 1rem;
        letter-spacing: .03em;
        font-weight: 600;
        text-transform: uppercase;
        color: #8895bf;

        margin: initial;
    }

    .hero__title {


        font-size: 1.875rem;
        color: #333c66;
        line-height: 1.375;
        font-weight: 700;
        letter-spacing: -.02em;
        max-width: 11em;
    }

    .abouttext {
        color: #686868;
        font-size: 1.15rem;
        max-width: 17em;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        padding-top: 10rem;
        padding-bottom: 2rem;
        text-align: left;
    }

    h2 {
        text-align: center;
        height: 5rem;
        padding: 3rem 1rem 0rem 1rem;
        font-size: 1.5rem;
        color: #28BCB2;
    }

    .abouttext2 {
        font-size: 1.15rem;
        max-width: 17em;
        text-justify: auto;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        max-width: 700px;
        padding-bottom: 3rem;
        color: aliceblue;
    }


    .wrapper {
        display: block;
        grid-template-columns: 1fr 1fr;
        max-width: 21em;
        margin: 0;
        padding-bottom: 50px;
        text-align: justify;
    }


    h3 {
        font-size: 1.1rem;
        color: ghostwhite;
    }

    .skills-desc {
        font-size: .9rem;
        margin-bottom: 1.5rem;
        color: #ebf9f7;
        line-height: 1.5;
        font-weight: 400;

    }

    .skills-title {
        margin-top: 0;
        font-size: 26px;
        display: flex;

    }

    .skills_logo {
        display: none;
    }

    .skills_name {

        border-radius: .6rem;
    }




    .nodejs-small-list {

        margin-right: .5rem;
        display: inline-block;
        padding: .35em .6em;
        border-radius: .25rem;
        background-color: rgba(30, 48, 91, 0.41);
        line-height: 1;
        white-space: nowrap;
        font-weight: 400;
        font-size: .75rem;
        color: rgba(235, 253, 253, 0.6);
    }

    /* footer */
    .footer-container {
        margin: 0 auto;
        max-width: 1400px;
        padding: 0 1.5rem;
        display: block;
        justify-content: space-between;
    }

    .footer__section {
        padding-top: 1em;
        margin-bottom: 1em;
        font-weight: 500;
        font-size: 1em;
        color: ivory;
        margin-bottom: 0px;
        display: block;
    }

    .footer__social-icon {
        height: 24px;
        color: white;
        fill: #fff;
    }

    html,
    body {
        max-width: 100%;
        overflow-x: hidden;
    }
}